:root {
    --font-primary: 'Karla', sans-serif;

    --color-primary: #816CC5;
    --color-secondary: #CFADFF;
    --color-neutral: #C6C6C6;
    --color-light: #ffffff;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;

    --font-size-xs: 0.75rem;   /* 12px */
    --font-size-sm: 0.875rem;  /* 14px */
    --font-size-base: 1rem;    /* 16px */
    --font-size-md: 1.125rem;  /* 18px */
    --font-size-lg: 1.5rem;    /* 24px */
    --font-size-xl: 2rem;      /* 32px */
    --font-size-xxl: 3rem;     /* 48px */
}

/* Home