:root {
    --font-primary: 'Karla', sans-serif;

    --color-primary: #816CC5;
    --color-secondary: #CFADFF;
    --color-neutral: #C6C6C6;
    --color-light: #ffffff;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;

    --font-size-xs: 0.75rem;   /* 12px */
    --font-size-sm: 0.875rem;  /* 14px */
    --font-size-base: 1rem;    /* 16px */
    --font-size-md: 1.125rem;  /* 18px */
    --font-size-lg: 1.5rem;    /* 24px */
    --font-size-xl: 2rem;      /* 32px */
    --font-size-xxl: 3rem;     /* 48px */
}



/* Header Styles */









/* Home Styles */









/* Logo Page Styles*/









/* Colour Page Styles */

.color-page-title {
    font-size: var(--font-size-xl);
    font-weight: bold;
    color: var(--color-primary);
    text-align: center;
    margin-top: 20px;
}
.color-page-subtitle {
    font-size: var(--font-size-lg);
    color: var(--color-neutral);
    text-align: center;
    margin-top: 10px;
}
.color-page-container {
    display: flex;
    flex-direction: row; /* Ensures items are aligned horizontally */
    gap: 16px; /* Adds spacing between the shapes */
    margin-top: 20px;
    justify-content: center; /* Centers the shapes horizontally */
    flex-wrap: wrap; /* Allows wrapping to the next line if needed */
    text-align: center;
}

.color-page-item {
    display: flex;
    flex-direction: column; /* Stacks the shape and label vertically */
    align-items: center;
    justify-content: center; /* Centers the shapes vertically */
    height: 150px; /* Optional: Set a fixed height for consistent alignment */
}

.color-page-label {
    margin-top: 8px; /* Adds spacing between the shape and the label */
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.color-page-primary {
    background-color: #816CC5;
}

.color-page-secondary {
    background-color: #CFADFF;
}

.color-page-success {
    background-color: #86CB92;
}

.color-page-warnings {
    background-color: #FC9E57;
}

.color-page-errors {
    background-color: #A8201A;
}








/* Typography Page Styles */










/* Graphics Page Styles */








/* References Page Styles */









/* Footer Styles */